[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule ".conky/themes/RSS"]
	path = .conky/themes/RSS
	url = https://gist.github.com/4bdd0eafb26c3073d0b5111c42ea8ec5.git
[submodule ".config/awesome/cyclefocus"]
	path = .config/awesome/cyclefocus
	url = https://github.com/blueyed/awesome-cyclefocus
[submodule ".config/awesome/lain"]
	path = .config/awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule ".config/awesome/net_widgets"]
	path = .config/awesome/net_widgets
	url = https://github.com/pltanton/net_widgets
[submodule ".git-fuzzy"]
	path = .git-fuzzy
	url = https://github.com/bigH/git-fuzzy.git
[submodule ".emacs.d.lite"]
	path = .emacs.d.lite
	url = https://github.com/ryukinix/emacsd-lite.git
[submodule ".config/awesome/freedesktop"]
	path = .config/awesome/freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf.git
