[submodule ".quicklisp/local-projects/lisp-chat"]
	path = .quicklisp/local-projects/lisp-chat
	url = https://github.com/ryukinix/lisp-chat.git
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule ".conky/themes/RSS"]
	path = .conky/themes/RSS
	url = https://gist.github.com/4bdd0eafb26c3073d0b5111c42ea8ec5.git
