[Desktop Entry]
Name=DBeaver
GenericName=Free universal SQL Client for developers and database administrators
Exec=env GTK_THEME=Adwaita GTK2_RC_FILES=/usr/share/themes/Adwaita/gtk-2.0/gtkrc GTK_DATA_PREFIX= dbeaver
Terminal=false
Type=Application
Icon=dbeaver
Categories=Development;Java;Database;
StartupWMClass=SWT
