[Desktop Entry]
Encoding=UTF-8
Name=Qucs
Comment=A Universal Circuit Simulator
Comment[es]=Un simulador universal de circuitos
Comment[de]=Ein universeller Schaltkreissimulator
Comment[pt]=Simulador universal de circuitos
Comment[fr]=Simulateur universel de circuits
Comment[it]=Simulatore universale di circuiti
TryExec=qucs
Exec=env GTK2_RC_FILES=/usr/share/themes/Vertex/gtk-2.0/gtkrc qucs %U
Icon=qucs
Terminal=false
Type=Application
Categories=Education;Electronics
StartupNotify=false
